<br><br>
<div class="container">
    <div class="row">
        <div class="col col-md-6 mb-2" *ngFor="let item of quotes">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Author: {{ item.authorName }}</h5>
                    <p class="card-body">
                        <i class="fa fa-quote-left" aria-hidden="true"></i> {{ item.quote }}
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                    </p>
                    <a class="btn btn-primary" [routerLink]="[ '/detailView',item.id]">Read More</a>
                </div>
                <div class="card-footer text-muted">
                    {{ item.date | dateAgo }}
                </div>
            </div>
        </div>
    </div>
</div>